<h3> ALL PRODUCTS</h3>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID</th>
            <th> Product Name</th>
            <th> Product Price</th>
            <th> TouchScreen Type</th>
            <th> Wireless Type</th>
            <th> Interoperable Type</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
           
            <td> {{ product.id }} </td>
            <td> {{product.name}}</td>
            <td> {{product.price}}</td>
            <td>{{product.isTouchscreen}}</td>
            <td>{{product.isWireless}}</td>
            <td> {{product.isInteroperable}}</td>
            <td>
                <button (click) = "updateProduct(product.id)" class = "btn btn-info" style="background-color:darkturquoise;"> Update</button>
                <button (click) = "OnClick()" class = "btn btn-info" style="background-color:rgb(0, 252, 97);" style="margin-left: 20px"> Purchase</button>
                <button (click) = "deleteProduct(product.id)" class = "btn btn-danger" style="margin-left: 20px" > Delete</button>
            </td>
        </tr>
    </tbody>
</table>
